@model WebApp.Models.SettingsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "SettingsPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Settings</title>
    @{
        string theme = ViewBag.Theme ?? "Dark"; // За замовчуванням використовується темна тема
        string cssFileName = $"Settings_{theme}.css";
    }

    <link rel="stylesheet" href="~/css/@cssFileName">

</head>
<body>
    <h1>@localizer["Settings"]</h1>
    <form asp-controller="SettingsPage" asp-action="SaveSettings" method="post">
        <div class="SelectOption">
            <label for="language">@localizer["Language"]</label>
            <select id="language" name="Language" class="selection">

                <option value="en-US" id="enOption">@localizer["English"]</option>
                <option value="uk-UA" id="ukOption">@localizer["Ukrainian"]</option>

            </select>
        </div>
        <div class="SelectOption">
            <label for="theme">@localizer["ChooseTheme"]</label>
            <select id="theme" name="IsLightTheme" class="selection">
                <option value="true" id="lightThemeOption">@localizer["Light"]</option>
                <option value="false" id="darkThemeOption">@localizer["Dark"]</option>
            </select>
        </div>
        <div class="SelectOption">
            <label for="currency">@localizer["ChooseCurrency"]</label>
            <select id="currency" name="Currency" class="selection">
                <option value="usd" id="usdOption">USD</option>
                <option value="uah" id="uahOption">UAH</option>
            </select>
        </div>
        <button type="button" onclick="location.href='@Url.Action("ResetPassword", "Account")'">@localizer["ResetPassword"]</button>
        <button type="submit">@localizer["Save"]</button>
    </form>
    <script>
        var isLightTheme = '@Model.IsLightTheme.ToString().ToLower()';
        var language = '@Model.Language.ToLower()';
        var currency = '@Model.Currency.ToLower()';

        // Select Language
        if (language === 'en-us') {
            document.getElementById('enOption').setAttribute('selected', 'selected');
        } else if (language === 'uk-ua') {
            document.getElementById('ukOption').setAttribute('selected', 'selected');
        }

        // Select Theme
        if (isLightTheme === 'true') {
            document.getElementById('lightThemeOption').setAttribute('selected', 'selected');
        } else {
            document.getElementById('darkThemeOption').setAttribute('selected', 'selected');
        }

        // Select Currency
        if (currency === 'uah') {
            document.getElementById('uahOption').setAttribute('selected', 'selected');
        } else {
            document.getElementById('usdOption').setAttribute('selected', 'selected');
        }
    </script>
</body>
</html>
