@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model Tuple<List<string>, List<string>>

@{
    ViewData["Title"] = Localizer["TipsTricksTitle"];
}
<head>
    <title>@ViewBag.Title</title>
    @{
        string theme = ViewBag.Theme ?? "Light"; // За замовчуванням використовується темна тема
        string cssFileName = $"OtherPages_{theme}.css";
    }

    <link rel="stylesheet" href="~/css/@cssFileName">
</head>
<body>
<div style="display: flex;">
    <div style="flex: 1;">
        <h2>@Localizer["TipsHeading"]</h2>

        @if (Model.Item1 != null && Model.Item1.Count > 0)
        {
            <ul>
                @foreach (var tip in Model.Item1)
                {
                    <li>@tip</li>
                }
            </ul>
        }
        else
        {
            <p>@Localizer["NoTipsMessage"]</p>
        }
    </div>

    <div style="flex: 1;">
        <h2>@Localizer["TricksHeading"]</h2>

        @if (Model.Item2 != null && Model.Item2.Count > 0)
        {
            <ul>
                @foreach (var trick in Model.Item2)
                {
                    <li><a href="@trick">@trick</a></li>
                }
            </ul>
        }
        else
        {
            <p>@Localizer["NoTricksMessage"]</p>
        }
    </div>
</div>
</body>

