@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Statistic";
}
@model IEnumerable<StatisticViewModel>
<head>
    <meta charset="utf-8" />
    <title>Statistic</title>
    @{
        // string theme = ViewBag.Theme ?? "Dark"; // За замовчуванням використовується темна тема
        // string cssFileName = $"Statistic_{theme}.css";
        string cssFileName = $"Statistic_Light.css";
    }

    <link rel="stylesheet" href="~/css/@cssFileName">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style>
        a.btn {
            color: white;
        }
    </style>
</head>
<body >
    <div class="statistic" >
        <div class="statistic-manipulation">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" />
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" />
            </div>

            <div class="button-grid">
                <div class="custom-button-wrapper">
                    <a id="getStatistics" class="custom-btn" href="@Url.Action("GetStatistics", "StatisticPage", new { startDate=DateTime.Today.AddMonths(-1), endDate=DateTime.Today, format="CSV" })">Show statistic</a>
                </div>
                <div class="custom-button-wrapper">
                    <a id="exportCsvLink" class="custom-btn" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "CSV" })">Export CSV</a>
                </div>
                <div class="custom-button-wrapper">
                    <a id="exportXmlLink" class="custom-btn" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "XML" })">Export XML</a>
                </div>
                <div class="custom-button-wrapper">
                    <a id="exportXlsxLink" class="custom-btn" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "XLSX" })">Export XLSX</a>
                </div>
            </div>

        </div>

        <div class="table">
            <table id="statisticsTable">
                <thead>
                    <tr>
                        <th>Income</th>
                        <th>Summary Expenses</th>
                        <th>Saved</th>
                        <th>Month</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statistic in Model)
                    {
                        <tr>
                            <td>@statistic.Incomes</td>
                            <td>@statistic.SummaryExpenses</td>
                            <td>@statistic.Savings</td>
                            <td>@statistic.Date.ToString("MMMM, yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
       
        var startDateInput = document.getElementById('startDate');
        var endDateInput = document.getElementById('endDate');

        // Функція для збереження значень полів дати в localStorage
        function saveInputValues() {
            localStorage.setItem('startDateValue', startDateInput.value);
            localStorage.setItem('endDateValue', endDateInput.value);
        }

        // Додавання обробника подій change для полів дати
        startDateInput.addEventListener('change', saveInputValues);
        endDateInput.addEventListener('change', saveInputValues);

        // Функція для відновлення збережених значень полів дати з localStorage
        function restoreInputValues() {
            var savedStartDate = localStorage.getItem('startDateValue');
            var savedEndDate = localStorage.getItem('endDateValue');
            if (savedStartDate && savedEndDate) {
                startDateInput.value = savedStartDate;
                endDateInput.value = savedEndDate;
            }
        }

        // Перевірка, чи передані значення полів дати через запит
        function checkQueryParameters() {
            const urlParams = new URLSearchParams(window.location.search);
            const startDateParam = urlParams.get('startDate');
            const endDateParam = urlParams.get('endDate');

            // Якщо значення не передані через запит, очищаємо поля дати
            if (!startDateParam || !endDateParam) {
                startDateInput.value = '';
                endDateInput.value = '';
            }
        }

        // Викликаємо функції відновлення та перевірки запиту при завантаженні сторінки
        restoreInputValues();
        checkQueryParameters();
        function updateExportLinks() {
            var startDate = document.getElementById('startDate').value;
            var endDate = document.getElementById('endDate').value;
            var baseUrl = '@Url.Action("ExportStatistics", "StatisticPage")';

            document.getElementById('exportCsvLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=CSV`;
            document.getElementById('exportXmlLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=XML`;
            document.getElementById('exportXlsxLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=XLSX`;

            document.getElementById('getStatistics').href = `@Url.Action("GetStatistics", "StatisticPage")?startDate=${startDate}&endDate=${endDate}`;
        }

        document.getElementById('startDate').addEventListener('change', updateExportLinks);
        document.getElementById('endDate').addEventListener('change', updateExportLinks);

        // Call updateExportLinks to set initial values correctly
        updateExportLinks();
    </script>
</body>