@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["StatisticTitle"];
}
<head>
    <meta charset="utf-8" />
    <title>@Localizer["StatisticTitle"]</title>
    <style>
        .statistic {
            display: flex;
            justify-content: space-between;
        }


        table {
            margin-top: 10%;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }

        .choose-options {
            width: 40%;
            height: 100%;
            left: 5%;
            margin-right: 20px;
            top: 10%
        }

        .form-group {
            width: 50%;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button {
            width: 182px;
            height: 42px;
            background-color: #545454;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            text-align: center;
            margin-top: 60px;
        }

            button:hover {
                background-color: white;
                color: #545454;
            }
    </style>
</head>
<body>
    <div class="statistic">
        <form method="post" action="@Url.Action("GetStatistics", "StatisticPage")">
            <div class="choose-options">
                <div class="date-pick">
                    <label>@Localizer["PickPeriodLabel"]:</label>
                    <div class="form-group">
                        <label for="startDate">@Localizer["StartDateLabel"]:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" />
                    </div>
                    <div class="form-group">
                        <label for="endDate">@Localizer["EndDateLabel"]:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" />
                    </div>
                </div>
                @* <div class="form-group">
                <label for="category">@Localizer["CategoryLabel"]:</label>
                <select class="form-control" id="category" name="category">
                <option value="category1">@Localizer["Category1Option"]</option>
                <option value="category2">@Localizer["Category2Option"]</option>
                <option value="category3">@Localizer["Category3Option"]</option>
                </select>
                </div> *@
                <div class="buttons">
                    <button type="submit">@Localizer["SubmitButton"]</button>
                    <button type="button">@Localizer["ExportButton"]</button>
                </div>
            </div>
        </form>

        <div class="table">
            <table id="statisticsTable">
                <thead>
                    <tr>
                        <th>@Localizer["IncomeColumn"]</th>
                        <th>@Localizer["SummaryExpensesColumn"]</th>
                        <th>@Localizer["SavedColumn"]</th>
                        <th>@Localizer["MonthColumn"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statistic in Model)
                    {
                        <tr>
                            <td>@statistic.Incomes</td>
                            <td>@statistic.SummaryExpenses</td>
                            <td>@statistic.Savings</td>
                            <td>@statistic.Date.Month/@statistic.Date.Year</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>