@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Statistic";
}
@model IEnumerable<StatisticViewModel>
<head>
    <meta charset="utf-8" />
    <title>Statistic</title>
    @{
        // string theme = ViewBag.Theme ?? "Dark"; // За замовчуванням використовується темна тема
        // string cssFileName = $"Statistic_{theme}.css";
        string cssFileName = $"Statistic_Light.css";
    }

    <link rel="stylesheet" href="~/css/@cssFileName">
    <style>
        a.btn {
            color: white;
        }
    </style>
</head>
<body>
    <div class="statistic">
        <div class="statistic-manipulation">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" />
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" />
            </div>
            <a id="getStatistics" class="btn btn-default" href="@Url.Action("GetStatistics", "StatisticPage", new { startDate=DateTime.Today.AddMonths(-1), endDate=DateTime.Today, format="CSV" })">Show statistic</a>
            <a id="exportCsvLink" class="btn btn-default" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "CSV" })">Export CSV</a>
            <a id="exportXmlLink" class="btn btn-default" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "XML" })">Export XML</a>
            <a id="exportXlsxLink" class="btn btn-default" href="@Url.Action("ExportStatistics", "StatisticPage", new { startDate = DateTime.Today.AddMonths(-1), endDate = DateTime.Today, format = "XLSX" })">Export XLSX</a>
        </div>

        <div class="table">
            <table id="statisticsTable">
                <thead>
                    <tr>
                        <th>Income</th>
                        <th>Summary Expenses</th>
                        <th>Saved</th>
                        <th>Month</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statistic in Model)
                    {
                        <tr>
                            <td>@statistic.Incomes</td>
                            <td>@statistic.SummaryExpenses</td>
                            <td>@statistic.Savings</td>
                            <td>@statistic.Date.ToString("MMMM, yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function updateExportLinks() {
            var startDate = document.getElementById('startDate').value;
            var endDate = document.getElementById('endDate').value;
            var baseUrl = '@Url.Action("ExportStatistics", "StatisticPage")';
            
            document.getElementById('exportCsvLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=CSV`;
            document.getElementById('exportXmlLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=XML`;
            document.getElementById('exportXlsxLink').href = `${baseUrl}?startDate=${startDate}&endDate=${endDate}&format=XLSX`;
            
            document.getElementById('getStatistics').href = `@Url.Action("GetStatistics", "StatisticPage")?startDate=${startDate}&endDate=${endDate}`;
        }

        document.getElementById('startDate').addEventListener('change', updateExportLinks);
        document.getElementById('endDate').addEventListener('change', updateExportLinks);
        
        // Call updateExportLinks to set initial values correctly
        updateExportLinks();
    </script>
</body>