@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Statistic";
}
@model IEnumerable<StatisticViewModel>
<head>
    <meta charset="utf-8" />
    <title>Statistic</title>
    <style>
        .statistic {
            display: flex;
            justify-content: space-between;
        }


        table {
            margin-top:10%;
            width: 100%; 
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        .choose-options {
            
            width: 40%; 
            height: 100%; 

            left: 5%;
            margin-right: 20px;
            top: 10%
        }

        .form-group{
            width: 50%;
        }
        .buttons{
            display: flex; 
            justify-content: space-between; 
            align-items: center;
        }

        button {
            width: 182px;
            height: 42px;
            background-color: #545454;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            text-align: center;
            margin-top: 60px;
        }

            button:hover {
                background-color: white;
                color: #545454;
            }
    </style>
</head>
<body>
 <div class="statistic">
        <form method="post" action="@Url.Action("GetStatistics", "StatisticPage")">
            <div class="choose-options">
                <div class="date-pick">
                    <label>Pick a period:</label>
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" />
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" />
                    </div>
                </div>
                @* <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category" name="category">
                        <option value="category1">Category 1</option>
                        <option value="category2">Category 2</option>
                        <option value="category3">Category 3</option>
                    </select>
                </div> *@
                <div class="buttons">
                    <button type="submit">Submit</button>
                    <button type="button">Export</button>
                </div>
            </div>
        </form>

        <div class="table">
            <table id="statisticsTable">
                <thead>
                    <tr>
                        <th>Income</th>
                        <th>Summary Expenses</th>
                        <th>Saved</th>
                        <th>Month</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statistic in Model)
                    {
                        <tr>
                            <td>@statistic.Incomes.</td>
                            <td>@statistic.SummaryExpenses</td>
                            <td>@statistic.Savings</td>
                            <td>@statistic.Date.Month/@statistic.Date.Year</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    
    </div>
</body>