@model WebApp.Models.HomeViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <style>
        html {
            font-size: 16px; 
        }

        .category-wrapper {
            margin: 1rem;
            color: white;
        }

        .category-heading-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .category-heading-name-wrapper {
            background-color: #7B7B7B;
            border-radius: 0.3125rem;
            padding: 1rem; 
            padding-left: 1.5rem;
            display: inline-block;
        }

        .category-heading {
            font-size: 2.25rem;
        }

        .category-heading-details-wrapper {
            color: burlywood;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .expenses-wrapper {
            color: burlywood;
        }
    </style>
</head>
<body>
    @foreach (var category in Model.Categories)
    {
        <div class="category-wrapper">
            <div class="category-content">
                <div class="category-heading-wrapper">
                    <div class="category-heading-name-wrapper">
                        <h2 class="category-heading">@category.Name</h2>
                    </div>
                    <div class="category-heading-details-wrapper">
                        <p>Remaining budget: @category.RemainingBudget</p>
                        <p>Planned buget: @category.PlannedBudget</p>
                    </div>  
                </div>
                <div class="expenses-wrapper">
                    @foreach (var expense in category.Expenses)
                    {
                        <p>Expense: @expense.ExpenseName  (@expense.Amount ₴)</p>
                    }
                </div>
            </div>
        </div>
    }
</body>
</html>
